﻿@page "/"
@using Microsoft.AspNetCore.Components

<div class="widget-group row">
    <div class="col-12">
        <div class="card">
            <!-- card-header -->
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <span class="h5 border-right-1 pr-2 marketing-header">
                            <i class="icon-truck-fast"></i>Programs
                        </span>
                    </div>
                    <div class="col col text-right">
                        <button class="btn btn-primary" id="btnAddProgram" onclick="ProgramViewModel.openProgramModal('0',false)">Add New Program <i class="fas fa-plus"></i> </button>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <!-- card-body -->
            <div class="card-body">

                <div id="tblProgram_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="dt-buttons"><button class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="tblProgram" type="button"><span>Export</span></button> </div><div class="dataTables_length" id="tblProgram_length"><label>Show <select name="tblProgram_length" aria-controls="tblProgram" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option><option value="-1">All</option></select> entries</label></div><div id="tblProgram_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="tblProgram"></label></div><div id="tblProgram_processing" class="dataTables_processing card" style="display: none;">Processing...</div><table id="tblProgram" class="table table-bordered table-hover dt-responsive nowrap dataTable no-footer dtr-inline collapsed" width="100%" cellspacing="0" role="grid" aria-describedby="tblProgram_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th data-class="expand" class="expand center sorting_asc" tabindex="0" aria-controls="tblProgram" rowspan="1" colspan="1" style="width: 335px;" aria-sort="ascending" aria-label="

                                        Program Name

                                : activate to sort column descending">
                                    <div class="table-header">
                                        <span class="column-title">Program Name</span>
                                    </div>
                                </th>
                                <th data-class="expand" class="expand center sorting" tabindex="0" aria-controls="tblProgram" rowspan="1" colspan="1" style="width: 58px;" aria-label="

                                        Courses

                                : activate to sort column ascending">
                                    <div class="table-header">
                                        <span class="column-title">Courses</span>
                                    </div>
                                </th>
                                <th data-class="expand" class="expand center sorting" tabindex="0" aria-controls="tblProgram" rowspan="1" colspan="1" style="width: 60px;" aria-label="

                                        Enrolled

                                : activate to sort column ascending">
                                    <div class="table-header">
                                        <span class="column-title">Enrolled</span>
                                    </div>
                                </th>
                                <th data-class="expand" class="expand center sorting" tabindex="0" aria-controls="tblProgram" rowspan="1" colspan="1" style="width: 79px;" aria-label="

                                        Graduated

                                : activate to sort column ascending">
                                    <div class="table-header">
                                        <span class="column-title">Graduated </span>
                                    </div>
                                </th>
                                <th data-class="expand" class="expand center sorting" tabindex="0" aria-controls="tblProgram" rowspan="1" colspan="1" style="width: 75px;" aria-label="

                                        Refreshed

                                : activate to sort column ascending">
                                    <div class="table-header">
                                        <span class="column-title">Refreshed</span>
                                    </div>
                                </th>
                                <th data-class="expand" class="expand center sorting" tabindex="0" aria-controls="tblProgram" rowspan="1" colspan="1" style="width: 76px;" aria-label="

                                        Start Time

                                : activate to sort column ascending">
                                    <div class="table-header">
                                        <span class="column-title">Start Time</span>
                                    </div>
                                </th>
                                <th data-class="expand" class="expand center sorting" tabindex="0" aria-controls="tblProgram" rowspan="1" colspan="1" style="width: 0px; display: none;" aria-label="

                                        End Time

                                : activate to sort column ascending">
                                    <div class="table-header">
                                        <span class="column-title">End Time</span>
                                    </div>
                                </th>
                                <th data-class="expand" class="expand sorting_disabled" rowspan="1" colspan="1" style="width: 0px; display: none;" aria-label="

                                        Active

                                ">
                                    <div class="table-header">
                                        <span class="column-title">Active</span>
                                    </div>
                                </th>
                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 0px; display: none;" aria-label="

                                        Action

                                ">
                                    <div class="table-header">
                                        <span class="column-title">Action</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody><tr role="row" class="odd"><td class="center sorting_1 dtr-control" tabindex="0">Purple Tortoise Agent Program</td><td class=" center">6</td><td class=" center">0</td><td class=" center">0</td><td class=" center">0</td><td class=" center">07/14/2021</td><td class=" center" style="display: none;">12/30/2099</td><td class=" expand" style="display: none;"><span class="responsiveExpander"></span><a class="bootstrapSwitch-checkbox text-primary" data-url="/Program/ChangeProgramStatus" data-id="1"><i class="fas fa-toggle-off  fa-lg"></i></a></td><td style="display: none;"><a class="" data-tagid="1" data-name="Purple" tortoise="" agent="" program="" onclick="ProgramViewModel.updateProgram('1',true)"><i class="far fa-eye fa-sm text-primary m-1"></i></a><a class="" data-tagid="1" data-name="Purple" tortoise="" agent="" program="" href="https://marketingdxp.com/portal/course/Course/Index?programId=1"><i class="fas fa-sitemap fa-sm text-primary m-1"></i></a><a class="" data-tagid="1" data-name="Purple" tortoise="" agent="" program="" onclick="ProgramViewModel.updateProgram('1',false)"><i class="far fa-edit fa-sm text-primary m-1"></i></a><a class="delete" data-programid="1" data-name="Purple" tortoise="" agent="" program="" onclick="ProgramViewModel.deleteProgram(this)"><i class="fas fa-trash-alt fa-sm text-danger"></i></a></td></tr><tr role="row" class="even"><td class="center sorting_1 dtr-control" tabindex="0">Purple Tortoise Destination Wedding Specialist</td><td class=" center">0</td><td class=" center">0</td><td class=" center">0</td><td class=" center">0</td><td class=" center">07/14/2021</td><td class=" center" style="display: none;">12/30/2099</td><td class=" expand" style="display: none;"><span class="responsiveExpander"></span><a class="bootstrapSwitch-checkbox text-primary" data-url="/Program/ChangeProgramStatus" data-id="2"><i class="fas fa-toggle-off  fa-lg"></i></a></td><td style="display: none;"><a class="" data-tagid="2" data-name="Purple" tortoise="" destination="" wedding="" specialist="" onclick="ProgramViewModel.updateProgram('2',true)"><i class="far fa-eye fa-sm text-primary m-1"></i></a><a class="" data-tagid="2" data-name="Purple" tortoise="" destination="" wedding="" specialist="" href="https://marketingdxp.com/portal/course/Course/Index?programId=2"><i class="fas fa-sitemap fa-sm text-primary m-1"></i></a><a class="" data-tagid="2" data-name="Purple" tortoise="" destination="" wedding="" specialist="" onclick="ProgramViewModel.updateProgram('2',false)"><i class="far fa-edit fa-sm text-primary m-1"></i></a><a class="delete" data-programid="2" data-name="Purple" tortoise="" destination="" wedding="" specialist="" onclick="ProgramViewModel.deleteProgram(this)"><i class="fas fa-trash-alt fa-sm text-danger"></i></a></td></tr><tr role="row" class="odd"><td class="center sorting_1 dtr-control" tabindex="0">testing</td><td class=" center">0</td><td class=" center">0</td><td class=" center">0</td><td class=" center">0</td><td class=" center">07/14/2021</td><td class=" center" style="display: none;">07/21/2021</td><td class=" expand" style="display: none;"><span class="responsiveExpander"></span><a class="bootstrapSwitch-checkbox text-primary" data-url="/Program/ChangeProgramStatus" data-id="6"><i class="fas fa-toggle-off  fa-lg"></i></a></td><td style="display: none;"><a class="" data-tagid="6" data-name="testing" onclick="ProgramViewModel.updateProgram('6',true)"><i class="far fa-eye fa-sm text-primary m-1"></i></a><a class="" data-tagid="6" data-name="testing" href="https://marketingdxp.com/portal/course/Course/Index?programId=6"><i class="fas fa-sitemap fa-sm text-primary m-1"></i></a><a class="" data-tagid="6" data-name="testing" onclick="ProgramViewModel.updateProgram('6',false)"><i class="far fa-edit fa-sm text-primary m-1"></i></a><a class="delete" data-programid="6" data-name="testing" onclick="ProgramViewModel.deleteProgram(this)"><i class="fas fa-trash-alt fa-sm text-danger"></i></a></td></tr></tbody>
                    </table><div class="dataTables_info" id="tblProgram_info" role="status" aria-live="polite">Showing 1 to 3 of 3 entries</div><div class="dataTables_paginate paging_full_numbers" id="tblProgram_paginate"><ul class="pagination"><li class="paginate_button page-item first disabled" id="tblProgram_first"><a href="#" aria-controls="tblProgram" data-dt-idx="0" tabindex="0" class="page-link">First</a></li><li class="paginate_button page-item previous disabled" id="tblProgram_previous"><a href="#" aria-controls="tblProgram" data-dt-idx="1" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="tblProgram" data-dt-idx="2" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="tblProgram_next"><a href="#" aria-controls="tblProgram" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li><li class="paginate_button page-item last disabled" id="tblProgram_last"><a href="#" aria-controls="tblProgram" data-dt-idx="4" tabindex="0" class="page-link">Last</a></li></ul></div>
                </div>

            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

@code {
    //workaround search for the time being
    [Parameter]
    public string BlockNumber { get; set; }

    [Parameter]
    public string TransactionHash { get; set; }
}

