﻿
<ContentView>
    <StackLayout>
        <BlazorWebView VerticalOptions="LayoutOptions.FillAndExpand">
            <FMSExplorer.Core.App />
        </BlazorWebView>
    </StackLayout>
</ContentView>

