@using Microsoft.AspNetCore.Components
@inherits LayoutComponentBase

<div class="page-wrapper chiller-theme  @(collapseNavMenu ? "toggled" : null)">

    <a id="show-sidebar" class="btn btn-sm btn-primary mt-2" href="#" style="z-index: 999999;" @onclick=@ToggleNavMenu>
        <i class="fas fa-bars"></i>
    </a>

    <nav id="sidebar" class="sidebar-wrapper sidebar-nav ">
        <div class="sidebar-content">
            <div class="sidebar-brand mt-2">
                <a href="#" class="h5 text-primary m-0">
                    <img src="/portal/course/Content/imgs/learningdxp_header_teal.png">
                </a>
                <div id="close-sidebar">
                    <i class="fas fa-arrow-left" @onclick=@ToggleNavMenu></i>
                </div>
            </div>
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>

                    <li class="active">
                        <a href="/portal/course/Program/Index">
                            <i class="active"></i>
                            <span>Programs</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/portal/course/Asset/Index">
                            <i class=""></i>
                            <span>Media Library</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/portal/course/Quiz/Index">
                            <i class=""></i>
                            <span>Quizes</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/portal/course/Question/Index">
                            <i class=""></i>
                            <span>Questions</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/portal/course/Student/Index">
                            <i class=""></i>
                            <span>Students</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/portal/course/Reporting/Index">
                            <i class=""></i>
                            <span>Reporting</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/portal/course/Option/Index">
                            <i class=""></i>
                            <span>Options</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/portal/course/Settings/Index">
                            <i class=""></i>
                            <span>Settings</span>
                        </a>
                    </li>

                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer p-2">
            <div class="d-flex justify-content-start ml-4">
                <a href="/portal/course/Account/Logout" class="h6 m-0">  <i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
        </div>
    </nav>

    <!-- Navbar start -->
    <nav class="navbar navbar-expand-md navbar-light">

        <!-- Collapse button -->
        <button class="navbar-toggler ml-auto mt-2" type="button" data-toggle="collapse" data-target="#basicExampleNav1" aria-controls="basicExampleNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse mt-2" id="basicExampleNav1">
            <div class="navbar-nav ml-auto"></div>
            <div class="navbar-nav ml-auto">

                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control header-search-bar" placeholder="Search">
                </div>

            </div>

            <!-- Right -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#!" class="nav-link navbar-link-2 waves-effect">
                        <i class="far fa-bell fa-2x"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect p-0" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <img id="UserProfileImage" src="https://marketingdxp.com/portal/course/Content/imgs/profile-icon.png" class="img-circle profile-img" alt="Cinque Terre">

                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#!">Action</a>
                        <a class="dropdown-item" href="#!">Another action</a>
                        <a class="dropdown-item" href="#!">Something else here</a>

                    </div>
                </li>

            </ul>

        </div>
        <!-- Links -->

    </nav>
    <!-- Navbar end/-->

    <!-- page-content start -->
    <main class="page-content">
        <div class="container-fluid">
            @Body
            <footer class="text-center">
            </footer>
        </div>
    </main>
    <!-- page-content end/-->
</div>


@code
{   
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {

        collapseNavMenu = !collapseNavMenu;
    }
}
